<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form
        method="post"
        action="/listings/<%= listingindetail._id %>?_method=PUT"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            value="<%=listingindetail.title%>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
        <%=listingindetail.description%> </textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            name="listing[image]"
            value="<%=listingindetail.image%>"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              value="<%=listingindetail.price%>"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a valid price</div>
          </div>

          <div class="mb-3 col-8">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              value="<%=listingindetail.location%>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a valid location</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%=listingindetail.country%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid country name</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3 edit">Edit</button>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
