<% layout("/layouts/boilerplate") %>
<body>
  <div class="row col-8 offset-2 mt-3">
    <h3>listing details :</h3>
    <div class="card shadow-sm border-0 rounded-4">
      <img
        src="<%= listingindetail.image %>"
        class="card-img-top"
        alt="listing image"
      />
      <div class="card-body">
        <p class="card-text mt-2">
          <span class="fw-semibold fs-5 d-block">
            <%= listingindetail.title %>
          </span>

          <span class="text-muted d-block">
            <%= listingindetail.description %>
          </span>

          <span class="fw-bold text-dark d-block mt-1">
            ₹<%= listingindetail.price.toLocaleString("en-IN") %>
          </span>

          <span class="text-secondary d-block">
            📍 <%= listingindetail.location %>
          </span>

          <span class="text-secondary d-block">
            🌍 <%= listingindetail.country %>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="btns d-flex gap-3 offset-2 mt-3">
    <a
      href="/listings/<%= listingindetail._id %>/edit"
      class="btn btn-dark edit"
      >Edit</a
    >

    <form
      method="post"
      action="/listings/<%=listingindetail._id%>?_method=DELETE"
    >
      <button class="btn btn-dark">Delete</button>
    </form>
  </div>
</body>
