<% layout("/layouts/boilerplate") %>
<body>
  <h3>Edit your Listing</h3>
  <form method="post" action="/listings/<%= listingindetail._id %>?_method=PUT">
    <div class="mb-3">
      <input
        name="title"
        value="<%=listingindetail.title%>"
        type="text"
        class="form-control"
      />
      <label for="title" class="form-label">Title</label>
    </div>

    <div class="mb-3">
      <textarea name="description" type="text" class="form-control">
<%= listingindetail.description%> </textarea
      >
      <label for="description" class="form-label">Description</label>
    </div>

    <div class="mb-3">
      <input
        name="image"
        value="<%=listingindetail.image%>"
        class="form-control"
      />
      <label for="image" class="form-label">Image</label>
    </div>

    <div class="mb-3">
      <input
        name="price"
        value="<%=listingindetail.price%>"
        type="number"
        class="form-control"
      />/>
      <label for="price" class="form-label">Price</label>
    </div>

    <div class="mb-3">
      <input
        name="location"
        value="<%=listingindetail.location%>"
        class="form-control"
      />/>
      <label for="location" class="form-label">Location</label>
    </div>

    <div class="mb-3">
      <input
        name="country"
        value="<%=listingindetail.country%>"
        class="form-control"
      />/>
      <label for="country" class="form-label">Country</label>
    </div>

    <button>Edit</button>
  </form>
</body>
