<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <h3>listing details :</h3>
    <ul>
      <li><%= listing.title %></li>
      <li><%= listing.title %></li>
      <li><%= listing.title %></li>
      <li><%= listing.title %></li>
      <li><%= listing.title %></li>
      <li><%= listing.title %></li>
    </ul>
  </body>
</html>
