<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <h3>listing details :</h3>
    <ul>
      <li><%= listingindetail.title %></li>
      <li><%= listingindetail.description %></li>
      <li>&#x20B9;<%= listingindetail.price.toLocaleString("en-IN") %></li>
      <li><%= listingindetail.location %></li>
      <li><%= listingindetail.country %></li>
    </ul>
    <br />
    <a href="/listings/<%= listingindetail._id %>/edit">Edit this listing</a>
    <form>
      <button>Delete this listing</button>
    </form>
  </body>
</html>
